<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
                    <ul>
                        <li>
                             <a asp-page="/Index">Index</a>
                        <li>
                            <a asp-page="/Privacy">Privacy</a>
                        <li>
                            <a asp-page="/UserPostings">Postings</a>
                        <li class="log">
                            <a asp-page="/#">Sign in</a>
                        <li class="log">
                            <a asp-page="/#">Sign up</a>
                        </li>
                    </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  



</body>
</html>