@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
body {
    background-color: #2C2C2C;
    margin:0;
    padding: 0;
    align-items:center;
}
ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #18191A;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    border-bottom:1px solid black;
}

    nav li {
        float: left;
    }


    nav a {
        font-family: 'Open Sans', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }


    nav a:hover {
          background-color: #0047ab;
        }
.log a:hover {
    background-color: #009000;
}
.post {
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.1);
    /*min-height: 0vh;*/
    width: 40vw;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    background-color: #3A3B3C;
    border-radius: 10px;

  
    padding: 20px 20px;
   
}

.png{
    margin-top: 20px;
}

.titleInput{
    width: 80%;
    margin-top: 20px;
    padding: 3px 10px;
}

.descInput {
    margin-top: 20px;
    width: 80%;
    height: 8em;
    padding: 3px 11px;
    resize: none;
}

.tagsInput {
    margin-top: 20px;
    width: 80%;
    padding: 3px 11px;
}

.commentInput {
    margin-top: 20px;
    width: 80%;
    height: 4em;
    padding: 3px 11px;
    resize: none;
}

.tagsContainer{
    display:block;
    padding: 10px 20px;
    height: fit-content;
}

.postDescription{
    text-align: left;
    color: white;
    padding: 10px 20px;
    min-height: 5vh;
}

menu {
    padding: 0;
    height: 100vh;
}

.title {
    color:white;
    font-family: 'Abril Fatface', cursive;
}
.slider{
    width:100%;
    height:100%;
}
.slider .photo {
    overflow: hidden;

}

.photo img {
    width: 100%;
    height: 100%;
}

.tag {
    background-color: #36454F;
    color: white;
    float: left;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
}
.comments {
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    border-radius: 20px;
    align-items: flex-start;
    text-align: left;
    font-family: 'Slabo 27px', serif;
    /*background-color: #1A2228;*/
    color: white;
}


.comment {
    margin-top: 4px;
    padding: 10px 10px;
    border: 3px solid grey;
    border-radius: 20px;
    background-color: #1A2228;
}


.info {
    font-size: 16px;
}

.createPostForm {
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.1);
    /*min-height: 0vh;*/
    width: 40vw;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    background-color: #3A3B3C;
    border-radius: 10px;
    padding-bottom: 20px;
}

.click-img {
    padding: 5px;
    margin: 0;
    width: 10vw;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    border: 3px solid black;
    transition: background-color 0.3s ease;
}

.click-img:hover{
    background-color:black;
    color:white;
}

.buttons{
    margin-top:3vh;
    
    display:flex;
    justify-content:space-around;
}

.delete{
    display:block;
    width: 120px;
    height: 1em;
    padding: 0.5em 0.5em;

    background-color: red;
    color:white;
}