@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
    margin:0;
    padding:0;
}
ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex; 
    justify-content: center; 
    background-color: #18191A;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

    nav li {
        float: left;
    }


    nav a {
        font-family: 'Open Sans', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }


    nav a:hover {
          background-color: #0047ab;
        }
.log a:hover {
    background-color: #009000;
}

