@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <div class="title">Stwórz swój własny post!</div>
    <form method="post" enctype="multipart/form-data" >
        @if(!ModelState.IsValid)
        {
            <span asp-validation-for="FormImages" class="alert-danger"></span>
        }
        else if(Model.FormImages != null && Model.FormImages.Any())
        {
            <span class="alert-success">Trybson</span>
        }
        <div class="buttons">
        <div class="click-img">
             <input  type="file" asp-for="FormImages" id="img" style="display:none"  multiple/>       
             <label for="img">Upload</label>
        </div>
        <div class="click-img">
            <input type="submit" id="submit" style="display:none" />
            <label for="submit" >Send</label>
         </div>
        </div><br />

        <input type="text" placeholder="Tytuł postu" /> <!-- asp-for=""--><br />
 
        <input type="text" placeholder="Wstaw swój opis!" /> <!-- asp-for=""-->
        <div class="buttons">
        <div class="click-img">
            <input type="submit" id="tag" style="display:none" />
            <label for="tag">Add Tag</label>
            </div>
        </div>
        <input type="text" placeholder="#" /> <!-- asp-for=""--><br />
    </form>

    @if(ModelState.IsValid && Model.Images != null)
    {
        <div class="slider">
            <div class="photo">
              @foreach (var img in Model.Images)
              {
                  <image src="@img.ImagePath"></image>
              }
            </div>
        </div>
    }
</div>
