@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <div class="title">Stwórz swój własny post!</div>
    <form method="post" enctype="multipart/form-data" >


        <input  type="file" asp-for="FormImage"  /> 
        <input  type="submit" /><br />
        <input type="text" placeholder="Tytuł postu" <!-- asp-for=""--></input>
    </form>

    @if(ModelState.IsValid && Model.Image != null)
    {
        <div class="slider">
            <div class="photo">
                <image src="@Model.Image.ImagePath"></image>
            </div>
        </div>
    }
</div>
