@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" enctype="multipart/form-data" >
        @if(!ModelState.IsValid)
        {
            <span asp-validation-for="FormImages" class="alert-danger"></span>
        }
        else if(Model.FormImages != null && Model.FormImages.Any())
        {
            <span class="alert-success">Trybson</span>
        }
        <input class="form-control" type="file" asp-for="FormImages" multiple/>
        <input class="btn btn-primary" type="submit"/>
    </form>

    @if(ModelState.IsValid && Model.Images != null)
    {
        foreach (var img in Model.Images)
        {
            <image src="@img.ImagePath"></image>
        }
    }
</div>
