@page
@model Projekt.Pages.UserPostingsModel
@{
    ViewData["Title"] = "Postings";
   
}
<menu>
    <a> Tytuł</a>
    <div class="photos"></div>
    <div class="tags"></div>
    <div class="comments"></div>
</menu>

<menu>
    <a> Tytuł</a>
    <div class="photos"></div>
    <div class="tags"></div>
    <div class="comments"></div>
</menu>


